/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'ionicons';
@import 'material_icons_unicode';

body {
  padding-top: 70px;
}

.table {
  .icon {
    font-size: 14px;
  }
  .btn {
    width: 31px;
    height: 31px;
    padding: 0;
  }
  .btn-col {
    width: 1%;
  }

  .fa {
    padding-top: 6px;
  }
  .mi {
    padding-top: 4px;
  }

  .icon-yes {
    color: #5cb85c;
    font-size: 20px;
    padding-top: 4px;
  }

  .icon-no {
    color: #d9534f;
    font-size: 20px;
    padding-top: 4px;
  }
}

.btn-new {
  margin-top: 10px;
  margin-bottom: 20px;
}

.tab-pane {
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  fieldset {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  legend {
    margin-bottom: 10px;
  }
}

form {
  margin-bottom: 0;
}

.fields {
  a {
    color: #fff;
  }
  .input-group-addon {
    background-color: #d9534f;
  }
}

legend {
  font-size: 18px;
}

.add_nested_fields {
  padding-top: 5px;
  display: block;
}

.help-block {
  margin-bottom: 0;
  font-size: 13px;
}

#vhost_ssl_certificate, #ssl_cert_chain_certificate, #vhost_ssl_key {
  height: 450px;
}
